@import '../../../lib/scss/variables';

.authComponent{
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  color: #333;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
  background: rgb(255,255,255);

  form {
    width: 70%;
    margin: 30px auto;
    text-align: center;

    .label{
      position: relative;
      top: 10px;
      cursor: pointer;
      color: blue;

      &:hover{
          color: orange;
      }
    }

    button {
      width: 70%;
      height: 30px;
      margin-top: 10px;
      border-radius: 5px;
      background: rgb(224,243,250);
      cursor: pointer;
    }

    input {
      width: 100%;
      height: 25px;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      margin-bottom: 10px;
      text-indent: 10px;
      outline: none;
      -webkit-transition: box-shadow 1s;
      -moz-transition: box-shadow 1s;
      -o-transition: box-shadow 1s;
      transition: box-shadow 1s;

      &:focus {
        box-shadow: 0px 0px 3px 1px #a2d7fc;
      }
    }

    h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;

      &:before, &:after {
        display: inline-block;
        content: " ";        
        width: 60px;
        height: 6px;
        border-top: 1px solid #333;
      }

      &:before {
        margin-right: 10px;
      }

      &:after {
        margin-left: 10px;
      }
    }
  }

  &:before {
    content: " ";
    display: block;
    background: rgba(0,0,0,0.1);
    position: absolute;
    width: 100px;
    height: 30px;
  }

  &:before {
    margin-top: -12px;
    margin-left: -45px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }  
}