<div class="authComponent">
  <form name="form" ng-submit="vm.login()" role="form">
    <h1>Log In</h1>
    <input type="text" name="username" id="username" ng-model="vm.username" placeholder="E-mail">
    <input type="password" name="password" id="password" ng-model="vm.password" placeholder="Password">
    <button type="submit">Log In</button>
    <br><span ng-click="redirect('/register')" class="label">Sign In</span>
  </form>  
</div>