<div class="authComponent">
  <form name="form" ng-submit="vm.register()" role="form">
    <h1>Sign In</h1>
    <input type="text" name="username" id="username" ng-model="vm.user.username" placeholder="E-mail">
    <input type="password" name="password" id="password" ng-model="vm.user.password" placeholder="Password">
    <input type="password" placeholder="Confirm password">
    <button type="submit">Registration</button>
    <br><span ng-click="redirect('/')" class="label">Log In</span>
  </form>  
</div>